<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Bordered Table</h2>
   
  <!-- http://localhost:3000/update-->
 <form action="javascript:void(0);" id="myform" method="post" onsubmit="return checkfunction();" >
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" class="form-control" id="name" name="name" value="{{name}}">
  </div>
  <div class="form-group">
    <label  for="email">Email address:</label>
    <input type="email" class="form-control" id="email" name="email" value="{{email}}">
  </div>
  <div class="form-group">
    <label  for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd" name="pwd" value="{{password}}">

    <input type="hidden" class="form-control" id="id" name="id" value="{{id}}">
  </div>
   
  <button type="submit" class="btn btn-default">Submit</button>
</form> 

    
</div>

</body>

<script type="text/javascript">
  function checkfunction()
  {
    id=$("#id").val(); 


     if(id==null || id=='')
     {
      $("#myform").attr("action", "http://localhost:3000/insert");
       
     }
     else if(id!=null || id!='')
     {
       $("#myform").attr("action", "http://localhost:3000/update");       
     }
  }
</script>
</html>

