<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    .editbutton
    {
      display: inline-block;
      float: left;
      padding-right: 20px;
    }
  </style>
</head>
<body>

<div class="container">
  <h2>Bordered Table</h2>
   <div>
   <form action='http://localhost:3000/add' method='post'>
    <button type='submit' class='btn btn-success'>Add</button></form>
    <p></p>
  </div>
  <table class="table table-bordered">
    <thead>

      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
{{{result}}}

    </tbody>
  </table>
</div>

</body>


</html>

